.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

p{
    font-family: 'Poppins', sans-serif;
}

.button {
    background-color: #04AA6D;
    color: black; 
    border: 2px solid #04AA6D;
    border-radius: 45px;
    width: 50px;
    height: 35px;
    transition-duration: 0.4s;
    margin-top: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button:hover {
    background-color: #18d952;
    border: 2px solid #18d952;

  }
input {
    height: 25px;
    width: 145px;
    outline: none;
}

